@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400&family=DM+Sans:wght@300;400;500&display=swap');

:root {
    --white: #FFFFF7;
    --white-grey: #F8F8FF;
    --pink: #FF4E75;
    --pink-light: #d0627a;
    --pink-dark: #e12a52;
    --black: #0C0C0C;
    --border: #c3bfb6;
    --borderHover: #b4bdbc;
}

.app-shell {
    min-height: 100vh;
}

.app-main {
    padding-top: 0.5rem;
}

